header{
    background: #F0FFF0;

}

/* nav-bar */
.icon-image img{
height: 59px;
width: 198.07142639160156px;
border-radius: 0px;
}
.light-red{
    color: #FD511A;

}
.light-green-background{
    background: #21B573;
}
.light-green{
    color: #21B573;
}
.nav-list a{
    text-align: center;
    padding: 12px 28px;
    margin: 10px;
    align-items: center;
}

.background a{
    color: white;
    width: 120px;
    text-align: center;
    border-radius: 50px;
    padding: 12px 28px;
    margin: 10px;
    align-items: center;
}
.size{
    
    width: 150px !important;
}
.left-side h3, samp{
    font-size: 40px;
}
.left-side p{
    padding-bottom: 10%;
    padding-top: 10%;
}
.right-site img{
    padding: 20px;
    width: 600px;
    
}
.nich{
    padding: 20px 20px;
    margin: 10px;
}


/* card section-1 */
.section-2{
    padding: 2%;
}
.card-1 img{
    width: 70px;
    height: 70px;
}

.card-1 {
    padding-top: 2%;
    width: 250px;
    height: 250px;
    align-items: center;
    text-align: center;
    background: #F8FFFB;
}
.card-1:hover {
    box-shadow: 10px 10px 40px gray;
    background: white;
}

/* card-2 */
.section-3{
    padding: 3%;
    text-align: center;

}
.peaple{
    width: 30px;
}
.card-2 {
    align-items: center;
    text-align: center;
    background: white;
}
.card-2:hover {
    box-shadow: 10px 10px 40px gray;
    background: #F8FFFB;
}

/* section-4 */
.section-4{
    padding: 10%;
    text-align: center;
}
.ball{
    padding: 5%;
}
.Testimonial  img{
    text-align: center;
    width: 250px;
    height: 250px;
}
p{
    text-align: justify;
}

/* section-5 */
.section-5{
    margin: 0%;
    padding: 0%;
    background: #282531;
    

}
.about{
    margin: 10px;
    padding: 2%;
}
.about p, h5, ul li{
    color: white;
    font-size: 20px;
    text-align: justify;
    list-style: none;
    

}
footer p{
    padding: 0%;
    margin: 0%;
    color: white;
    text-align: center;
}
